.cart-widget {
  width: 60px;
  margin: 2rem 0;

  position: relative;

  display: inline-block;
}

.cart-icon {
  margin-top: 2rem;

  display: flex;

  filter: drop-shadow(-1px 1px 0.8px #00000078);

  transition: all 0.8s ease-in;
}

.cart-icon:hover {
  cursor: pointer;

  filter: drop-shadow(1px 1px 1px #Cc9933);

  transform: scale(1.2);
  transition: all 0.3s ease-out;
}

.cart-notification {
  padding: 0.6rem;
  background-color: #Cc9933;
  box-shadow: inset 1px 1px 3px #000000;
  border-radius: 2rem 1rem 2rem 0.5rem;

  position: absolute;
  top: 10px;
  right: -10px;

  font-family: "Montserrat";
  color: #274156;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 1px #000000;
}


/* MQ */
@media (min-width: 760px) {
  .cart-widget {
    width: 70px;
  }

  .cart-icon {
    margin-top: 0;
  }

  .cart-notification {
    top: -20px;
    right: -10px;
  }
}