.home-main {
    margin: 0 auto;
    padding: 1rem;
}

.home-intro {
    margin-bottom: 2rem;

    font-family: "Montserrat";
    font-size: 1.8rem;
    text-align: center;
}

.home-cards {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.home-card {
    width: 260px;
    height: 180px;
    padding: 2rem;
    background-color: #63768D;
    border: solid 2px #D0CCD0;
    border-radius: 1rem 0.5rem 3rem 1rem;
    box-shadow: 0 0 8px #36213E;
}

.home-cards p {
    font-family: "Caveat";
    font-size: 1.6rem;
    color: #60495A;
    text-transform: none;
    font-weight: 600;
    text-align: center;
}

.card-body {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: "Montserrat";
    font-size: 1.8rem;
    color: #D0CCD0;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.card-body .card-title {
    font-family: "Caveat";
    font-size: 2rem;
    text-shadow: 1px 1px 2px #000000;
    color: #D0CCD0;
    text-transform: none;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: center;
}

.card-body button {
    background-color: #907F9F;
    border: solid 2px #D0CCD0;

    color: #36213E;
    font-size: 0.8rem;
    font-weight: 400;
}


/* MQ */
@media (min-width: 760px) {
    .home-cards {
        display: flex;

        flex-direction: row;

        align-items: center;
        justify-content: center;

        gap: 2rem;
    }
}