.item-detail-container {
  display: flex;
  flex-wrap: nowrap;

  flex-direction: column;

  align-items: center;
}

.item-title {
  padding: 4rem 0 2rem 0;

  display: flex;

  align-items: center;
  justify-content: center;

  font-family: "Montserrat";
  color: #1C6E8C;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-shadow: 0.5px 0.5px 1.2px #000000;
  text-align: center;
}

main .item-detail-container p {
  font-family: "Caveat";
  color: #1C6E8C;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}