.btn-custom {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #D0CCD0;
  border: none;
  box-shadow: 1px 1px 2px #000000;
  border-radius: 1rem 2rem;

  color: #1C6E8C;
  text-shadow: 1px 1px 2px #000000;
  font-size: 1.5rem;
  font-weight: bold;

  cursor: pointer;

  transition: transform 0.6s, background-color 1s, border-color 1s ease-in;
}

.btn-custom:active {
  background-color: #274156;

  transition: transform 0.1s, background-color 0.3s, border-color 0.3s ease-out;
  transform: scale(0.95);
}

.btn-custom:hover {
  background-color: #63768D;
  box-shadow: inset 1px 1px 5px #000000;

  color: #D0CCD0;

  transition: transform 0.1s, background-color 0.3s, border-color 0.3s ease-out;
}

.btn-custom:disabled {
  background-color: #E0E0E0;
  box-shadow: none;

  color: #A0A0A0;
  text-shadow: none;

  cursor: not-allowed;

  transform: none;
}

.btn-primary:disabled {
  background-color: #E0E0E0;

  color: #A0A0A0;

  cursor: not-allowed;

  transform: none;
}

.item-info p {
  font-family: "Montserrat";
  color: #907F9F;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.item-count {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.item-count .quantity-controls {
  margin: 2rem 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  font-family: "Montserrat";
  color: #274156;
  font-size: 1.2rem;
  font-weight: 800;
}

.item-count .quantity-controls span {
  margin: 0;
  align-self: center;
}

.item-count .btn {
  margin: 0 2rem;

  background-color: #63768D;
  border: 2px solid#D0CCD0;
  box-shadow: 1px 1px 1px #000000;

  color: #D0CCD0;
  font-family: "Montserrat";
  text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 800;
  text-transform: none;
  text-align: center;

  transition: transform 0.6s, background-color 0.8s ease-in;
}

.item-count .btn:hover {
  background-color: #274156;
  border: none;
  box-shadow: none;

  color: #Cc9933;
  text-shadow: -1px -1px 1.5px rgb(0, 0, 0);

  transition: transform 0.1s, background-color 0.3s ease-out;
}

.item-count .in-cart-message {
  color: #Cc9933;
  font-family: "Caveat";
  font-size: 1.8rem;
  text-transform: none;
  text-align: center;
}