.item-detail-container {
  display: flex;
  flex-wrap: nowrap;

  flex-direction: column;

  align-items: center;
}

.item-title {
  padding: 4rem 0;

  display: flex;

  align-items: center;
  justify-content: center;

  font-family: "Montserrat";
  color: #1C6E8C;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1.8px #000000;
  text-transform: uppercase;
  text-align: center;
}

main .item-detail-container p {
  font-family: "Caveat";
  color: #1C6E8C;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}